body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 30px;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    .heading-primary-main {
        display: block;
        font-size: 60px;
        font-weight: 400px;
        letter-spacing: 35px;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    .heading-primary-sub {
        display: block;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 18px;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        margin-bottom: 60px;
    }
}